body{
    margin-left: 30px;
    width:95%;
    height:95%;
}
#checkbox{
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
#checkbox:checked{
    background-color: #0059ff;
    background-image: url(/check.svg);
}
.cadastro{
    display:flex;
    justify-content:space-between;
    border: 2px;
    box-shadow: 6px 6px 6px #a5a5a5;
    box-sizing: border-box;
    flex-direction: row;
    font-family: 'Poppins';
}
#nomeidade{
    margin-right:10px;
}
.cimacadastro{
    margin-bottom: 20px;
}
#pessoa{
    margin-right:20px;
        margin-top:25px;
        max-width:75px;
        max-height:50px;
        width: auto;
        height: auto;
        box-shadow: 6px 6px 6px #a5a5a5;
}
#pesquisa{
    width:350px;
    height:35px;
    border: 2px solid rgb(0, 153, 255);
    border-radius:10px;
    background-color: white;
    cursor:pointer;
}
#sub{
    color:blue;
    margin: 20px;
    padding:3px;
    width: 150px;
    height:35px;
    cursor:pointer;
    border: none;
    border-radius:10px;
    font-family: 'Poppins';  
}
#cadastro_usuario{
    font-family:'Poppins';
    border:none;
    border-radius:10px;
    color:green;
    margin-left:500px;
    width:150px;
    height:35px;
}
h2{
    font-size:30px;
    color:#d3d3d3;
    font-family: 'Poppins';
}
h3{
    margin-left: 550px;
    font-size:15px;
    color:#a0a0a0;
    font-family: 'Poppins';
}
#h3_cad{
    margin-left: 550px;
    font-size:15px;
    color:#003cff;
    font-family: 'Poppins';
}
#lapis{
    margin-left: 700px;
    margin-top:30px;
    height: 30px;
    width: 30px;
}
#lixo{
    margin-top:30px;
    height: 30px;
    width: 30px; 
}
#lapis1{
    margin-top:30px;
    height: 30px;
    width: 30px;
}
#lixo1{
    margin-top:30px;
    height: 30px;
    width: 30px; 
}
#icone_pesquisa{
        width: 20px;
        height: 20px;
        margin-left: -30px;
    }
@media (max-width: 600px) {
}
.teste{
    display:flex;
}